/* Scrollbar */
#app-page-content ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 15px;
    background-color: transparent; /* Change in individual app stylesheet */
}

#app-page-content ::-webkit-scrollbar-track {
    border-radius: 15px;
}

#app-page-content ::-webkit-scrollbar-thumb {
    width: 5px;
    height: 10px;
    padding-top: 10px
    border-radius: 15px;
    background-color: rgba(42, 0, 247, 0.5); /* Change in individual app stylesheet */
}

/*Markdown*/
.markdown-style{
border-left:5px solid #5712FF;
padding-left: 5px

}

/*Formula*/
.formula-style{
border-left: 5px solid #5712FF;
padding-left: 5px
font-size: 6rem; 
line-height: 1.5;  
color: #3D4F58; 
font-weight:400;

}

/* Slider */
.rc-slider-track {
  background-image: linear-gradient(to right,#212123, #471BB2, #2A00F7, #5712FF);
}


.rc-slider-dot-active {  
  border-color: #5712FF;
  border: solid 2px #5712FF;
}


.rc-slider-handle {
  background-color: #FFFFFF;
  border-color: #5712FF;
}


.rc-slider-handle:hover {
  border-color: #648290;
  border: solid 2px #648290;
}

.rc-slider-handle-active:active {
  border-color: #6F8D9B;
  border: solid 2px #6F8D9B;
}


.button {
  border-radius: 10px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1.5px #5712FF;
  color: #5712FF;

}

/*
.checklist-style{
	background-color: red;
}

input[type=checkbox] {
    visibility: hidden;
}